@media only screen and (min-width: 80em) {

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    padding: 0.5em;
}

img {
    max-width: 280px;
    padding: 1em 0;
    align-items: center;
    justify-content: center;
}

}