@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,500&family=Work+Sans:ital,wght@0,400;1,300;1,400&display=swap');

 h2,body {
    color: #2E242D;
    margin: 0;
}

header {
    color : white;
    background-color:#B38D97;
    padding: 1em;
    font-style: italy;
}
body { 
    font-family: Montserrat;
}

main {
    padding: 1em;
}

main a:hover{
        color:#B4A82D;
}

 ul li {
    list-style: none;
    margin: 1em;
    color: #2E242D;
 }

 ul {
 padding: 0;
}

    h3{
    color:#B38D97;
    margin: 0;
}

.self-portrait img{
    max-width: 10%;
    border-radius: 10px;
}

footer {
    background-color: #EAD8D7;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info {
    grid-column: 2/3;
}

 footer p {
     margin: 0;
     font-size: 0.8em;
     text-align:left;
 }