/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    .logo-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
		max-width: 100%;
    }

    nav {
        padding: 0;
    }

    .hide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide li{
        display: block;
        flex: 1 1 auto;
    }

    .hide li:first-child{
        display: none;
    }

    .hide li a {
        text-align: center;
        border: none;
        padding: .8em 1em;
    }

    .toggle {
        display: none;
    }

    .contact-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2em;
    }

    .map-box {
        grid-column: 1/2;
        grid-row: 1;
        justify-content: center;
    }

    .contact {
        grid-column: 2/3;
        grid-row: 1;
    }


} /*end medium */