
h1 {
    background:white;
    color: #807800;
    text-align: center;
    font-family:"Noto Serif SC", Georgia, serif;
}

h2 {
    color: #171217;
    text-align: center;
    padding: .5em;
    margin: 0;
    font-family: Montserrat, Verdana, sans-serif;
}

p {
    text-align: center;
    color: #171217;
    margin: 0.25em 0;
    font-family: Montserrat, Verdana, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FCF1ED;
    border: solid 1px #e2d8d5;
    border-radius: 4px;
    padding: .75em;
    margin: .75em;
}

img {
    width: 70%;
    box-shadow: 5px 5px 12px rgb(107, 109, 119) ;
}

main {
    padding: 1em;
    border: solid 1px #e2d8d5;
    box-shadow: 5px 5px 12px rgb(107, 109, 119) ;
}

header {
    padding: .25em;
}

footer {
    text-align: center;
    padding: 2em;
    background: #807800;
    color: white;
    font-family: Montserrat, Verdana, sans-serif;
    font-size:  0.8em;
}

@media only screen and (min-width: 32.5em){
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .25em;
    }      
}

@media only screen and (min-width: 64em){
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .25em;
    }   
    
    section{
    margin: .25em;
    }
}