header {
    padding: 1.75em 0;
}

.logo-box img {
    padding: 0;
    float: left;
}

header h1,p{
    text-align: center;
}

h1, h2, h3 {
    font-family:Poppins, Verdana, sans-serif;
}

p { 
    font-family: "Work Sans", Karla, sans-serif;
    color: #3e3e3e;
}

body, header{
    background:#fdf7f2;
    margin: 0 auto;
}

footer {
   color: white;
   background: #3e3e3e;
}

main {
    background: #ffffff;
    padding: 1.75em;
}

main h3{
    color:#3e3e3e;
}

h2 {
    color:#3e3e3e;
}

nav {
        padding: 0.8em 2%;
        display: fixed;
        background:#bbd4d4;
}

.hide {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hide li:first-child{
    margin: 0 2%;
    display: block; 
    padding:2% 0;
}

.hide li {
    display: none;
}

.hide a{
    padding: 0.8em 2%;
    text-decoration: none;
    color:#3e3e3e;
   
    }

    .hide a:hover{
        color: black;  
    }

.responsive li:hover:not(:first-child){
        background:rgba(255,255,255,0.6);
    }
    
.responsive li {
        display: block;
        font-family:Poppins, Verdana, sans-serif;
    }

nav ul li.active {
    background:#FFd700;
    color: white;
}

.responsive li+li {
    padding: 0.75em;
}

 footer {
    padding:0.75em 3em;
 }

footer p,span {
    font-family: "Work Sans", Karla, sans-serif;
    color: white;
   
}

footer a:visited {
    color: #bbd4d4;
}

.map-box {
   display: flex;
   justify-content: left;
   align-items: center;
}

.contact {
 display:flex;
 justify-content: left;
 align-items: center;
}

.contact img {
    width: 44px;
    height: 44px;
}

.info {
 display:flex;
 justify-content: left;
 align-items: center;
}

.social {
    padding: 0.75em;
    display: flex;
    justify-content:space-between;
}

.bar {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

