@media only screen and (min-width: 80em){
    main {
        padding: 2em;
    }

    #persona {
        display: grid;
        grid-template-columns: 1fr 1fr ;  
        grid-gap: 2em;
    }
    
    .persona-1 {
        grid-column: 1/2;
    }
   
    .listbox-1 {
        display: flex;
    }
    
    .persona-2 {
        grid-column: 2/3;
    }

    .listbox-2 {
        display: flex;
    }
    
}